<div style="margin-left:550px">
<h3>Todo list</h3>
<input id="new-todo" placeholder="Enter the TODO" autofocus>
	<header id="header"></header>
	<ul class = "tasks-list"></ul>
	<footer id="footer"></footer>
</div>