<div style="margin-left:550px">
<h3>Todo list</h3>
<input id="new-todo" placeholder="Enter the TODO" autofocus><br>
	<input id="Check_all" type="checkbox">
	<label for="Check_all">Check all</label>
	<ul class = "tasks-list">	</ul>
</div>